<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Recipes</title>
    </head>
    <body>
        <ul id="navigation">
            {% for item in navigation %}
            <li>
                <a href="{{ item.href }}">{{ item.caption }}</a>
            </li>
            {% endfor %}
        </ul>

        <h1>My Recipes</h1>
        <h2>{{ recipe["name"] }}</h2>
        <h3>Ingredients</h3>
        <p>{{ recipe["ingredients"] }}</p>
        <p>Time: {{ recipe["time"] }}</p>
        <p>Yields: {{ recipe["yields"] }}</p>
        <h3>Instructions</h3>
        <p>{{ recipe["instructions"] }}</p>
        <p>
            For further information,
            <a target="_blank" href="{{ recipe['url'] }}">read here</a>
        </p>
        <!-- {{ a_variable }} -->

        <!-- {# a comment #} -->
    </body>
</html>
